body {
	background-color: #282c34;
}

.app {
	text-align: center;
	margin: 0 auto;
	background-color: #201d2f;
}

.header {
	top: 0;
	width: 100%;
	position: relative;
	border-bottom: 1px solid;
	border-bottom: 1px solid #2b2e32;
	background-color: #36393f;
	box-shadow: 0 0.5px 0.5px rgb(0 0 0 / 40%);

	&__container {
		color: white;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__name {
		font-size: 20px;
	}

	&__btn {
		height: 50px;
		background-color: black;
		line-height: 20px;
		border: none;
		padding: 5px;
		border-radius: 3px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		color: white;
	}
}

.messages {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 89vh;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		display: none;
	}

	&__listItems {
		min-height: calc(90vh - 45px);
	}

	&__form {
		padding: 0.5rem 4rem;
		position: sticky;
		bottom: 0;
		background-color: #36393f;
	}

	&__formContainer {
		padding: 0.5rem;
		background: #40444b;
		border-radius: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& > input {
			width: 100%;
			background-color: #40444b;
			border: none;
			margin-left: 1rem;
			color: #b9bbbe;

			&:focus {
				outline: none;
			}
		}

		& > button {
			background-color: #b9bbbe;
			border: none;
			border-radius: 50px;
			color: #40444b;
			padding: 5px;
			width: 30px;
			height: 30px;

			&:focus {
				outline: none;
			}
		}
	}

	&__item {
		display: flex;
		align-items: flex-start;
	}

	&__sent {
		flex-direction: row-reverse;

		& > .messages__box {
			background-color: #00b0ff;
			padding: 0.5rem 1rem;
			font-weight: 300;
			border-radius: 10px;
			margin: 0.5rem 1rem 0.5rem 0.5rem;
			color: #e8f7ff;
			min-width: 5rem;
			max-width: 70%;
			font-size: 12px;

			& > p {
				font-weight: 600;
				font-size: 16px;
				text-align: start;
				margin-bottom: 0;
				margin-top: 0.5rem;
			}
		}
	}

	&__received {
		& > .messages__box {
			background-color: #302a44;
			padding: 0.5rem 1rem;
			font-weight: 300;
			border-radius: 10px;
			margin: 0.5rem 1rem 0.5rem 0rem;
			color: #e8f7ff;
			min-width: 5rem;
			max-width: 70%;
			font-size: 12px;

			& > p {
				color: #9995a3;
				font-weight: 600;
				font-size: 16px;
				text-align: start;
				margin-bottom: 0;
				margin-top: 0.5rem;
			}
		}

		& > img {
			width: 40px;
			margin: 0 0.5rem;
			border-radius: 36px;
		}
	}
}

.chatName {
	overflow: auto;
	&__item {
		color: white;
		margin: 10px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		cursor: pointer;
		padding: 5px 10px;
		border-radius: 10px;

		& > img {
			width: 2rem;
			height: 2rem;
			border-radius: 40px;
			margin-right: 10px;
		}
	}
	&__item:hover {
		background-color: #5a5f6a;
		transition: 100ms ease-in;
	}

	&__group {
		text-align: start;
	}

	&__name {
		font-size: 16px;
		font-weight: bold;
	}
}

.navbar {
	background-color: #2f3136;
}
